:root {
    --var-body-bg: #fff;
    --var-body-fc: #333;
    --var-navbar-lnk: #7f7f7f;
    --var-navbar-lnk-hvr: #333;
    --var-header-bg: #eee;
}

[dark] {
    --var-body-bg: #333;
    --var-body-fc: #fff;
    --var-navbar-lnk: #fff;
    --var-navbar-lnk-hvr: #d7d7d7;
    --var-header-bg: #666;
}

body {
    color: var(--var-body-fc);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: var(--var-body-bg);
}

.navbar {
    background-color: var(--var-body-bg);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.container {
    margin-bottom: 10px;
}

.portfolio-pics {
    height: 23vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.my-nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--var-navbar-lnk);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.my-nav-link:hover {
    color: var(--var-navbar-lnk-hvr);
}

.portfolio-links, .blog_links, .site-logo-title {
    color: var(--var-navbar-lnk);
}

.portfolio-links:hover, .blog_links:hover {
    color: var(--var-navbar-lnk-hvr);
}

#blogtitle {
    font-size: 6rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }

    #blogdetailtitle {
        font-size: 5rem;
    }
}

.portfolio_h2 {
    float: left;
}

.portfolio-title, .portfolio-text {
    text-align: center;
}

.portfolio-preview:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.number_of_projects_text {
    text-align: right;
}


.just_p {
    display: inline-block;
    width: 40px;
}




